@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'vazir', sans-serif !important;
  }

}

@layer html {

  body {
    direction: rtl;
    text-align: right;
  }

  .bg-zahedan {
    background: rgb(0, 0, 0);
    background: linear-gradient(322deg, rgba(0, 0, 0, 1) 79%, rgba(102, 26, 238, 1) 100%);
  }
}